body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

h1 {
    color: #ff79c6;
}

#countdown .time {
    margin-top: 20px;
    background: linear-gradient(45deg, #faa7de, rgb(219, 6, 155));
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjust height as necessary */
}

#countdown p {
    margin: 0;
    font-size: 1.2em;
}

#countdown span {
    font-weight: bold;
    color: #ffffff;
    font-size: 3em; /* Adjust font size as necessary */
}
